/* FeatureSection.module.css */
.featureSection {
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* gap: 30px; */
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .featureSection h1{
    text-align: center;
    margin-bottom: 20px;
    font-weight: bolder;
    color: rgb(7, 65, 60);
    font-size: 3rem;
  }
  
  .featureItem {
     display: flex;
    /* flex-direction: row; */
    gap: 50px;
    position: relative;
    padding:  20px 100px 50px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 1;
    transform: translate3d(0, 0, 0);
    opacity: 0; /* Initially hidden */
    animation: slideIn 1s forwards;
    margin-bottom: 10px;
  }
  
  .featureItem img {
    max-width: 40%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
  }
  
  .featureItem h2 {
    font-size: 24px;
    font-weight: 700;
    color: white;
    margin-bottom: 15px;
  }
  
  .featureItem p {
    font-size: 16px;
    color:white;
    line-height: 1.6;
  }
  
  .featureItemBackground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    z-index: -1;
    will-change: background-position;
    transition: background-position 0.2s ease-out;
  }
  

  .featureItem.reversed {
    flex-direction: row-reverse; /* Flip the order for even-indexed items */

  }

  /*  Overlay effect */ 
.contentOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.6); /* Dark overlay */
  color: white;
  padding: 20px;
  width: 80%;
  text-align: center;
  border-radius: 10px;
}

 
  
  @keyframes slideIn {
    0% {
      transform: translateX(100%); /* Start off-screen to the right */
      opacity: 0;
    }
    100% {
      transform: translateX(0); /* Slide to the original position */
      opacity: 1;
    }
  }
  
  @media (min-width: 1200px) {
    .featureSection {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .featureItem {
        flex-direction: row;
        text-align: left;
    }
    .featureItem.reversed {
        flex-direction: row-reverse;
    }
    .featureItem img {
        max-width: 40%;
    }
}

@media (max-width: 992px) {
    .featureItem {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .featureItem {
        width: 100%;
        padding: 15px;
    }

    .featureSection h1 {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .featureSection {
        padding-left: 2%;
        padding-right: 2%;
    }
    .featureItem {
        padding: 10px;
    }
    .featureItem h2 {
        font-size: 20px;
    }
    .featureItem p {
        font-size: 14px;
    }
}

  