.container {
    margin-top: 40px;
    text-align: center;
  }
  
  .heading {
    font-weight: bold;
    /* margin-bottom: 50px; */
    padding-bottom: 40px;
  }
  
  .timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .verticalLine {
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: #1976d2;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
  
  .cardContainer {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top:0px ;
    position: relative;
  }
  
  .left {
    justify-content: flex-start;
  }
  
  .right {
    justify-content: flex-end;
  }
  
  .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #1976d2;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .card {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    z-index: 1;
  }
  
  .cardTitle {
    font-weight: bold;
    text-align: center;
  }
  
  .cardDescription {
    color: #666;
  }
  